*.iml
.gradle
*.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
*/build
/captures
.lock
*.bin
*.class
library/build
.externalNativeBuild
/.idea/libraries
/.gradle/4.6/fileHashes
/.idea
/.gradle/4.6/fileChanges
/.gradle/4.6/javaCompile
/.gradle/4.6/taskHistory
/.gradle/buildOutputCleanup
/.gradle/4.6/fileContent
/BCX_Wallet.iml
/app/app.iml
/app/build
/libray_base/build
/libray_base/libray_base.iml
/libray_res/build
/libray_res/libray_res.iml
/module_asset/build
/module_asset/module_asset.iml
/module_found/build
/module_found/module_found.iml
/module_mine/build
/module_mine/module_mine.iml
/module_login/build
/module_login/module_login.iml



