<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocos.library_base">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity
            android:name=".base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".crash.DefaultErrorActivity"
            android:process=":error_activity" />
        <activity android:name=".base.HtmlWebViewActivity" />
        <activity android:name=".base.JsWebViewActivity" />
        <activity
            android:name=".invokedpages.InvokeLoginActivity"
            android:launchMode="singleTask" />

        <receiver android:name=".receiver.NetStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>
</manifest>