<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocos.module_asset">

    <application>
        <activity android:name=".ui.transfer.TransferActivity" />
        <activity android:name=".ui.receivables.ReceivablesActivity" />
        <activity android:name=".ui.deal_record.DealRecordActivity" />
        <activity android:name=".ui.deal_record.RecordDetailActivity" />
        <activity android:name=".create.CreateAccountActivity" />
        <activity android:name=".ui.coin_type_select.CoinSelectActivity" />
        <activity android:name=".ui.contract_detail.ContractRecordDetailActivity" />
        <activity android:name=".ui.nh_transfer_detail.NHTransferDealDetailActivity" />
        <activity android:name=".nh_order_manager.OrderManageActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>
</manifest>